/* Merge to wp-cli.org stylesheet */

hr {
	margin-bottom: 1em;
}
table.horizontal th {
	border-bottom: none;
}

/* Packaging index */
.package {
	border-bottom: 1px dashed #b5e853;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
.package th {
	width: 150px;
}